html {
	background: white;
}

body {
	color: white;
	background: orange;
	font-family: helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 24px;
}
.invert {
	/*color: white;
	background: orange;*/
	filter:invert(1);
}






img {
	max-width: 100%;
	height: auto;
}
main {
	padding: 1em;	
}
a {
	color: inherit;
	text-decoration: none;
}
button {
	color: inherit;
	border: 2px solid;
	background-color: transparent;
	outline: none;
	border-radius: 0;
	padding: 0.5em;
	text-transform: uppercase;
	font-weight: bold;
	margin: 1em auto;
	cursor: pointer;
}
.waving-hand {
	cursor: pointer;
}
.toggle {
	display: block;
}
.content {
	border: 2px solid;
	display: inline-block;
	margin: 1em auto;
}
.content img {
	display: block;
}